<!--{eval $_TPL['titles'] = array('友情链接', '滑翔运动酷站');}-->
<!--{template header}-->

<style>
.exchange_link {
margin: 15 5 5 5px;
}
.exchange_link a:hover{text-decoration: none; }


</style>

<div id="mainarea">

<div class="c_header">
  <h1>友情链接</h1>
</div>

<div class="l_content">	
<div class="wide">


<div class="h_status">

  <div class="exchange_link">
    <a href="http://www.superwing.com.cn/" target="_blank">
      <img src="http://www.superwing.com.cn/bbs/images/wind/logo.jpg" border="0" height="25" width="96" alt="大羽滑翔伞俱乐部"><br />
      大羽滑翔伞俱乐部
    </a>
  </div>

  <div class="exchange_link">
    <a href="http://zixia.net" target="_blank">
      <img src="http://zixia.net/assets/image/header/logo.gif" border="0" height="25" width="96" alt="zixia.net"><br />
      zixia.net
    </a>
  </div>

<div class="exchange_link">
        <a href="http://www.wzflying.com/" target="_blank">
      <img src="http://www.paracn.com/images/logo.jpg" border="0" height="25" width="96" alt="温州滑翔伞论坛"><br />
      温州滑翔伞论坛
    </a>
  </div>
<div class="exchange_link">
        <a href="http://www.hxs.cn/" target="_blank">
        石家庄峰之风滑翔伞俱乐部

    </a>
  </div>
<div class="exchange_link">
        <a href="http://www.glideclub.com/main/home/main.php" target="_blank">
        飞吧滑翔伞俱乐部

    </a>
  </div>



<div class="exchange_link">
        <a href="http://www.enjoysky.com.cn/" target="_blank">
      <img src="http://www.enjoysky.com.cn/index-phot/para.jpg" border="0" height="25" width="96" alt="江苏雷鸟航空俱乐部
"><br />
      江苏雷鸟航空俱乐部 

    </a>
  </div>
  
<div class="exchange_link">
        <a href="http://www.lzflying.com/0371/about.aspx" target="_blank">
      <img src="http://www.lzflying.com/0371/images/women-1.gif" border="0" height="25" width="96" alt="林州滑翔伞俱乐部
"><br />
      林州滑翔伞俱乐部

    </a>
  </div>
 
<div class="exchange_link">
        <a href="http://willis.cnc02.gggppp.com/seawindfly/" target="_blank">
      <img src="http://willis.cnc02.gggppp.com/seawindfly/old/hengfu1.jpg" border="0" height="25" width="96" alt="青岛海风滑翔伞俱乐部
"><br />
     青岛海风滑翔伞俱乐部
<div class="exchange_link">
        <a href="http://paraglider.whhxs.com/
" target="_blank">
    <img src="http://www.superwing.com.cn/Images/Logo-01.gif" border="0" height="25" width="96" alt="武汉九头鸟滑翔伞俱乐部"><br />
武汉九头鸟滑翔伞俱乐部
   </a>
  </div>

  <div class="exchange_link">
        <a href="http://www.jcftdl.com/sy.asp" target="_blank">
    <img src="http://www.jcftdl.com/imgs/sy/sy_r1_c1.gif" border="0" height="25" width="96" alt="飞天动力滑翔伞俱乐部"><br />
飞天动力滑翔伞俱乐部

   </a>
  </div>
   <div class="exchange_link">
        <a href="http://www.0531hx.com/" target="_blank">
    <img src="http://www.0531hx.com/images/logo.gif" border="0" height="25" width="96" alt="济南巨源滑翔伞俱乐部"><br />
   济南巨源滑翔伞俱乐部
   </a>
  </div>


    </a>
  </div>

<div class="link_req">
      
       
        <h4>链接要求</h4>
        <div class="h_status">
         <ol>
           <li>本站只与飞行运动有关的社区、俱乐部、个人网站进行交换友情链接；</li>
           <li>违反我国现行法律的或含有令人不愉快内容的网站勿扰；</li>
           <li>网站alexa排名不低于10000名；</li>
           <li>站点 google pagerank 不少于4 ；</li>

           <li>友情链接网站之间有义务向对方报告链接失效，图片更新等问题，在解除友情链接之前亦应该通知对方；</li>
         </ol>
        <p style="margin-top: 10px;">以上各项，中国滑翔运动爱好者社区网保留全部解释权。</p>
       </div>

      
        <h4>本站 Logo</h4>
        <div class="h_status">
         <ul>

           <li class="one"><img alt="Logo大小：88x31" src="/image/logo_88x31.gif"></li>
           <li class="two">Logo大小：88×31</li>
           <li class="three">URL: http://paraglider.cn/image/logo_88x31.gif</li>
         </ul>
         <ul>
           <li class="one" style="padding: 1px 0px;"><img alt="Logo大小：120×60" src="/image/logo_120x60.gif"></li>
           <li class="two">Logo大小：120×60</li>
           <li class="three">URL: http://paraglider.cn/image/logo_88x31.gif</li>
         </ul>
       </div>

         <h4>本站地址</h4>
         <div class="h_status">
            <ul><li>http://paraglider.cn/</li></ul>
         </div>       
              
         <h4>本站友情链接的HTML代码（可以直接拷贝、粘帖使用）</h4>
         <div class="h_status">
<pre>
&lt;a href="http://paraglider.cn" target="_blank"&gt;
&lt;img src="http://paraglider.cn/image/logo_88x31.gif" alt="中国滑翔伞爱好者社区" border="0" /&gt;
中国滑翔伞爱好者社区
&lt;/a&gt;
</pre>
         </div>


         <h4>合作联系方式</h4>
        <div class="h_status">
        业务合作请发送至：zixia [at] paraglider.cn （请把[at]改成@）<br>
       </div>
       <br />
       <br />   
        
</div>

</div></div></div>
<!--{template footer}-->